body{
    margin: 0px;
    background-color: black;
    
    
}

.conatiner{
    position: relative;
    display: flex;
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
}

#right-cont a{
    /* float: right; */
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
}

#right-cont li{
    list-style: none;
    /* float: left; */
    margin-top: auto;
    font-size: 24px;
}

.conatiner #right-cont{
    margin-left: 1225px;
}
#right-cont ul{
    display: flex;
}

form{
    position: absolute;
    width: 600px;
    top: 25%;
    left: 30%;
    padding: 20px;
    border: 2px solid #ffffff;
    color: #ffffff;
    /* display: none; */
}

.form-content{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

.buttons{
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

#profile-page{
    position: absolute;
    width: 400px;
    top: 25%;
    left: 30%;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: none;
}

#profile-page > div{
    margin-left: 10px;
    font-size: 1rem;
    margin-block: 20px;
}

#profile-page > h2{
    margin: 10px;
    
}

#profile-page > button{
    margin-left: 10px;
    margin-bottom: 10px;
}

#profileContainer > div{
    margin-top: 10px;
    margin-bottom: 20px;
}